.item {
  display: flex;
  align-items: center;
  height: 70px;
  font: 700 18px/22px 'Unify Sans','Helvetica Neue','Arial Nova', Helvetica, Arial, sans-serif;
}

.item:hover {
  background: white;
}

.item img {
  padding: 0 30px 0 10px;
  width: 50px;
}
