.background {
  width: 100%;
  height: 250px;
  box-shadow: 0 2px 2px #cccccc;
  object-fit: cover;
}
.profilePic {
  display: block;
  width: 300px;
  height: 300px;
  margin: -200px auto 20px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  box-shadow: 0 4px 8px #cccccc;
  border-radius: 150px;
  object-fit: cover;
}

section.presentation {
  margin: 0 auto 100px;
  padding: 0 40px;
}

.name,
.job {
  margin-top: 10px;
}

.name {
  font: 700 36px/40px var(--font-family-sans-serif);
}
.job {
  font: 700 26px/30px var(--font-family-sans-serif);
}
.degree {
  margin-top: 5px;
  font: 20px/24px var(--font-family-sans-serif);
}
.biographyGroup {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #282c34;
}
.languages {
  padding: 15px 0;
  margin-top: 5px;
  color: #468074;
  background-color: #ffffff;
}
